$gray-color: rgb(98,94,95);

section.inputGroup {
  display: flex;
  flex-direction: column;

  fieldset {
    padding: 0;
    margin: 0;
    border: none;
    padding: 0.5rem 0 0.5rem 0.5rem;
  }

  label, legend {
    margin-bottom: 0.25rem;
    opacity: 1;
    font-size: 0.875rem;
		font-weight: 600;
  }

  label,
  select {
    display: block;
  }

  select {
    height: 2rem;
    padding: 0 0.5rem;
    box-sizing: border-box;
    font-size: 0.875rem;
    opacity: 0.6;
  }

  small {
		font-size: 0.75rem;
		font-weight: 300;
		color: $gray-color;
		margin-top: 0.25rem;
  }
}
