.slider {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.handle {
  position: absolute;
  width: 2rem;
  height: 1rem;
  border-radius: 1px;
  background: white;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.05);
}

.fill {
  position: relative;
  flex-grow: 1;
  height: 0.25rem;
  background: #d4d1d2;
  border-radius: 0.25rem;
}
